{% macro genSkillSelect(id, variables) %}
    {{ attribute(variables, "skill_slot_"~id) }}
{% endmacro genSkillSelect %}
{% macro genRow(base, variables) %}
    {% for i in range(base, base + 4) %}
        <div class="col-md-2">
            {{ _self.genSkillSelect(i, variables) }}
        </div>
    {% endfor %}
{% endmacro genRow %}
{% macro genSkillRow(name, modifier, base, variables) %}
    <div class="row bg-white">
        <div class="col-md-2">
            <p>{{ name ~ " (+" ~ modifier ~ ")" }} [roll:4dF+{{ modifier }}]</p>
        </div>
        {{ _self.genRow(base, variables) }}
    </div>
{% endmacro genSkillRow %}
<section class="bg-white">
    <div class="row mb-2">
        <div class="col-md-5 sl-name-field">
            {{ variables.name }}
        </div>
        <div class="col-md-2 mr-2">
            <div class="row">
                <div class="col-md bg-dark text-white font-weight-bold border border-dark text-center large-font">
                    Refresh
                </div>
            </div>
            <div class="row">
                <div class="col-md text-center border border-dark large-font">
                    {{ variables.refresh is defined and variables.refresh is not empty ? variables.refresh : 3 }}
                </div>
            </div>
        </div>
        <div class="logo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 border mr-1 mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
            Aspects
        </div>
    </div>
    <div class="row mb-2">
       <div class="col-md-5 border border-dark mr-1 bigger-font">
            <div class="row">
                <div class="col-md-3 font-weight-bold border-bottom border-right">
                    High Concept
                </div>
                <div class="col-md border-bottom">
                    {% if variables.high_concept is defined %} {{ variables.high_concept }} {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold border-bottom border-right">
                    Trouble
                </div>
                <div class="col-md border-bottom">
                    {% if variables.trouble is defined %} {{ variables.trouble }} {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 border-bottom border-right">
                </div>
                <div class="col-md border-bottom">
                    {% if variables.character_aspect_1 is defined %} {{ variables.character_aspect_1 }} {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 border-bottom border-right">
                </div>
                <div class="col-md border-bottom">
                    {% if variables.character_aspect_2 is defined %} {{ variables.character_aspect_2 }} {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 border-bottom border-right">
                </div>
                <div class="col-md border-bottom">
                    {% if variables.character_aspect_3 is defined %} {{ variables.character_aspect_3 }} {% endif %}
                </div>
            </div>
        </div>
    </div>
    <section> <!-- Skills Section -->
        <div class="row">
            <div class="col-md-12 bg-dark text-white">
                <h1>Skills</h1>
            </div>
        </div>
        {{ _self.genSkillRow("Superb", 5, 0, variables) }}
        {{ _self.genSkillRow("Great", 4, 5, variables) }}
        {{ _self.genSkillRow("Good", 3, 10, variables) }}
        {{ _self.genSkillRow("Fair", 2, 15, variables) }}
        {{ _self.genSkillRow("Average", 1, 20, variables) }}
    </section>
    <div class="row">
        <div class="col-md-5 border mr-1 mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
            Stunts
        </div>
        <div class="col-md-6 border mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
            Extras
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 border border-dark mr-1 mb-2 pt-1 slightly-bigger-font">
            {{ variables.stunts is defined and variables.stunts is not empty ? variables.stunts : "" }}
        </div>
        <div class="col-md-6 border border-dark mb-2 pt-1 slightly-bigger-font">
            {{ variables.extras is defined and variables.extras is not empty ? variables.extras : "" }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 border mb-1 large-font bg-dark text-white font-weight-bold border border-dark mr-1">
            Stress
        </div>
        <div class="col-md-6 border mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
            Consequences
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 border border-dark mr-1 bigger-font">
            <div class="row">
                <div class="col-md">
                    <h3>Physical Stress</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <input value="1" {% if variables.physical_stress_box_1 is defined and variables.physical_stress_box_1 == 1 %} checked="checked"{% endif %}
                           id="physical_stress_box_1" name="physical_stress_box_1" type="checkbox" disabled/><label
                            title="Phyiscal Stress (1-Shift)" id="input_box_label_1"
                            for="physical_stress_box_1"></label>
                    <input value="1" {% if variables.physical_stress_box_2 is defined and variables.physical_stress_box_2 == 1 %} checked="checked"{% endif %}
                           id="physical_stress_box_2" name="physical_stress_box_2" type="checkbox" disabled/><label
                            title="Phyiscal Stress (2-Shift)" id="input_box_label_2"
                            for="physical_stress_box_2"></label>
                    <input value="1" {% if variables.physical_stress_box_3 is defined and variables.physical_stress_box_3 == 1 %} checked="checked"{% endif %}
                           id="physical_stress_box_3" name="physical_stress_box_3" type="checkbox" disabled/><label
                            {% if variables.physical_stress_box_3_is_active is defined and variables.physical_stress_box_3_is_active == 1 %} class="checkbox-opacity"{% endif %}
                            title="Phyiscal Stress (3-Shift)" id="input_box_label_3"
                            for="physical_stress_box_3"></label>
                    <input value="1" {% if variables.physical_stress_box_4 is defined and variables.physical_stress_box_4 == 1 %} checked="checked"{% endif %}
                           id="physical_stress_box_4" name="physical_stress_box_4" type="checkbox" disabled/><label
                            {% if variables.physical_stress_box_4_is_active is defined and variables.physical_stress_box_4_is_active == 1 %} class="checkbox-opacity"{% endif %}
                            title="Phyiscal Stress (4-Shift)" id="input_box_label_4"
                            for="physical_stress_box_4"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <h3>Mental Stress</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <input value="1" {% if variables.mental_stress_box_1 is defined and variables.mental_stress_box_1 == 1 %} checked="checked"{% endif %}
                           id="mental_stress_box_1" name="mental_stress_box_1" type="checkbox" disabled/><label
                            title="Phyiscal Stress (1-Shift)" id="input_box_label_1"
                            for="mental_stress_box_1"></label>
                    <input value="1" {% if variables.mental_stress_box_2 is defined and variables.mental_stress_box_2 == 1 %} checked="checked"{% endif %}
                           id="mental_stress_box_2" name="mental_stress_box_2" type="checkbox" disabled/><label
                            title="Phyiscal Stress (2-Shift)" id="input_box_label_2"
                            for="mental_stress_box_2"></label>
                    <input value="1" {% if variables.mental_stress_box_3 is defined and variables.mental_stress_box_3 == 1 %} checked="checked"{% endif %}
                           id="mental_stress_box_3" name="mental_stress_box_3" type="checkbox" disabled/><label
                            {% if variables.mental_stress_box_3_is_active is defined and variables.mental_stress_box_3_is_active == 1 %} class="checkbox-opacity"{% endif %}
                            title="Phyiscal Stress (3-Shift)" id="input_box_label_3"
                            for="mental_stress_box_3"></label>
                    <input value="1" {% if variables.mental_stress_box_4 is defined and variables.mental_stress_box_4 == 1 %} checked="checked"{% endif %}
                           id="mental_stress_box_4" name="mental_stress_box_4" type="checkbox" disabled/><label
                            {% if variables.mental_stress_box_4_is_active is defined and variables.mental_stress_box_4_is_active == 1 %} class="checkbox-opacity"{% endif %}
                            title="Phyiscal Stress (4-Shift)" id="input_box_label_4"
                            for="mental_stress_box_4"></label>
                </div>
            </div>
        </div>
        <div class="col-md-6 border border-dark bigger-font">
            <div class="row">
                <div class="col-md font-weight-bold">
                    Mild Consequence
                </div>
                <div class="col-md">
                    {{ variables.mild_consequence is defined ? variables.mild_consequences : "" }}
                </div>
            </div>
            {% if variables.mild_consequence_extra_active is defined and variables.mild_consequence_extra_active == 1 %}
                <div class="row">
                    <div class="col-md font-weight-bold">
                        Mild Consequence (Extra)
                    </div>
                    <div class="col-md">
                        {{ variables.mild_consequence_extra is defined ? variables.mild_consequence_extra : "" }}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md font-weight-bold">
                    Moderate Consequence
                </div>
                <div class="col-md">
                    {{ variables.moderate_consequence is defined ? variables.moderate_consequence : "" }}
                </div>
            </div>
            <div class="row">
                <div class="col-md font-weight-bold">
                    Severe Consequence
                </div>
                <div class="col-md">
                    {{ variables.severe_consequence is defined ? variables.severe_consequence : "" }}
                </div>
            </div>
        </div>
    </div>
</section>