{% macro genSkillSelect(id, variables) %}
    {% set skillList = ",Athletics,Burglary,Contacts,Crafts,Deceive,Drive,Empathy,Fight,Investigate,Lore,Notice,Physique,Provoke,Rapport,Resources,Shoot,Stealth,Will"|split(',') %}
    <select class="form-control" id={{ "skill_slot_"~id }} name={{ "skill_slot_"~id }}>
        {% for skill in skillList %}
            <option value="{{ skill }}"
                    {% if attribute(variables, 'skill_slot_'~id) is defined and attribute(variables, 'skill_slot_'~id) == skill %}selected="selected" {% endif %}>
                {{ skill }}</option>
        {% endfor %}
    </select>
{% endmacro genSkillSelect %}
{% macro genRow(base, variables) %}
    {% for i in range(base, base + 4) %}
        <div class="col-md-2">
            {{ _self.genSkillSelect(i, variables) }}
        </div>
    {% endfor %}
{% endmacro genRow %}
{% macro genSkillRow(name, modifier, base, variables) %}
    <div class="row bg-white">
        <div class="col-md-2">
            <p>{{ name ~ " (+" ~ modifier ~ ")" }} [roll:4dF+{{ modifier }}]</p>
        </div>
        {{ _self.genRow(base, variables) }}
    </div>
{% endmacro genSkillRow %}
<section>
    <div class="row mb-2">
        <div class="col-md-5 sl-name-field">
            <input type="text"
                   class="form-control m-0 p-0" id="name"
                   placeholder="Enter character name ..."
                   required="required"
                   value="{{ variables.name is defined ? variables.name : '' }}"
                   name="name"
            >
        </div>
        <div title="A short evocative description of your character.">
            <label for="description">Character Description</label>
            <textarea class="form-control mention" id="description" name="description" rows="3"
                      placeholder="Enter character description ...">{{ variables.description is defined ? variables.description }}</textarea>

        </div>
    </div>
    <div class="col-md-2 mr-2">
        <div class="row">
            <div class="col-md bg-dark text-white font-weight-bold border border-dark text-center large-font">
                Refresh
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center border border-dark large-font">
                <input type="number"
                       min=1
                       class="form-control m-0 p-0" id="refresh"
                       placeholder=3
                       required="required"
                       value="{{ variables.refresh is defined ? variables.refresh : 3 }}"
                       name="refresh"
                >
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md bg-dark text-white font-weight-bold text-center border border-dark large-font">FP
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center border border-dark large-font p-0">
                <input value="{{ variables.fate_points is defined ? variables.fate_points : 1 }}"
                       class="form-control m-0 p-0"
                       id="fate_points"
                       name="fate_points"
                       placeholder=""
                       type="number"
                       min=0>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-6 border mr-1 mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
        Aspects
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-6 border border-dark mr-1 bigger-font">
        <div class="row">
            <div class="col-md-4 font-weight-bold">
                High Concept
            </div>
            <div class="col-md m-0 p-0">
                <input type="text"
                       class="form-control m-0 p-0" id="high_concept"
                       placeholder="Enter aspect ..."
                       required="required"
                       value="{{ variables.high_concept is defined ? variables.high_concept : '' }}"
                       name="high_concept"
                >
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 font-weight-bold">
                Trouble
            </div>
            <div class="col-md m-0 p-0">
                <input type="text"
                       class="form-control m-0 p-0" id="trouble"
                       placeholder="Enter aspect ..."
                       value="{{ variables.trouble is defined ? variables.trouble : '' }}"
                       name="trouble"
                >
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md m-0 p-0">
                <input type="text"
                       class="form-control m-0 p-0" id="character_aspect_1"
                       placeholder="Enter aspect ..."
                       value="{{ variables.character_aspect_1 is defined ? variables.character_aspect_1 : '' }}"
                       name="character_aspect_1"
                >
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md m-0 p-0">
                <input type="text"
                       class="form-control m-0 p-0" id="character_aspect_2"
                       placeholder="Enter aspect ..."
                       value="{{ variables.character_aspect_2 is defined ? variables.character_aspect_2 : '' }}"
                       name="character_aspect_2"
                >
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md m-0 p-0">
                <input type="text"
                       class="form-control m-0 p-0" id="character_aspect_3"
                       placeholder="Enter aspect ..."
                       value="{{ variables.character_aspect_3 is defined ? variables.character_aspect_3 : '' }}"
                       name="character_aspect_3"
                >
            </div>
        </div>
    </div>
</div>

<section> <!-- Skills Section -->
    <div class="row">
        <div class="col-md-12 bg-dark text-white">
            <h1>Skills</h1>
        </div>
    </div>
    {{ _self.genSkillRow("Superb", 5, 0, variables) }}
    {{ _self.genSkillRow("Great", 4, 5, variables) }}
    {{ _self.genSkillRow("Good", 3, 10, variables) }}
    {{ _self.genSkillRow("Fair", 2, 15, variables) }}
    {{ _self.genSkillRow("Average", 1, 20, variables) }}
</section> <!-- End Skills Section -->

<div class="row">
    <div class="col-md-6 border mr-1 mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
        Stunts
    </div>
    <div class="col-md border mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
        Extras
    </div>
</div>
<div class="row">
    <div class="col-md-6 border border-dark mr-1 mb-2 pt-1 slightly-bigger-font">
             <textarea
                     class="form-control mention"
                     id="stunts"
                     name="stunts"
                     rows="5"
                     placeholder="Enter your stunts here ...">
                 {{ variables.stunts is defined ? variables.stunts }}</textarea>

    </div>
    <div class="col-md border border-dark mb-2 pt-1 slightly-bigger-font">
            <textarea
                    class="form-control mention"
                    id="extras"
                    name="extras"
                    rows="5"
                    placeholder="Enter your extras here ...">
                 {{ variables.extras is defined ? variables.extras }}</textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-6 border mb-1 large-font bg-dark text-white font-weight-bold border border-dark mr-1">
        Stress
    </div>
    <div class="col-md border mb-1 large-font bg-dark text-white font-weight-bold border border-dark">
        Consequences
    </div>
</div>
<div class="row">
    <div class="col-md-6 border border-dark mr-1 bigger-font">
        <div class="row pt-2">
            <div class="col-md pl-2 font-weight-bold">
                Physical Stress
            </div>
            <div class="col-md">
                <label id="input_box_label_1"><input title="Two Shift Stress Box"
                                                     value="1" {% if variables.physical_stress_box_1 is defined and variables.physical_stress_box_1 == 1 %} checked="checked"{% endif %}
                                                     id="physical_stress_box_1" name="physical_stress_box_1"
                                                     type="checkbox"/></label>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md pl-2 font-weight-bold">
                Mental Stress
            </div>
            <div class="col-md">
                <input value="{{ variables.mental_stress_boxes }}"
                       class="m-0 p-0"
                       id="mental_stress_boxes"
                       name="mental_stress_boxes"
                       placeholder=0
                       type="number"
                       min=0
                       max="{{ variables.max_mental_stress_boxes is defined ? variables.max_mental_stress_boxes : 2 }}"
                >
                /
                <input value="{{ variables.max_mental_stress_boxes is defined ? variables.max_mental_stress_boxes : 2 }}"
                       class="m-0 p-0"
                       required="required"
                       id="max_mental_stress_boxes"
                       name="max_mental_stress_boxes"
                       placeholder=2
                       type="number"
                       min=2
                       max=4
                >
            </div>
        </div>
    </div>
    <div class="col-md border border-dark bigger-font pr-0">
        <div class="row pt-2">
            <div class="col-md-4 font-weight-bold">
                Mild Consequence
            </div>
            <div class="col-md">
                <input type="text"
                       class="form-control m-0 pl-2" id="mild_consequence"
                       placeholder="..."
                       value="{{ variables.mild_consequence }}"
                       name="mild_consequence"
                >
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-3 font-weight-bold">
                Mild Consequence (Extra)
            </div>
            <div class="col-md-1">
                <input
                        value="1" {% if variables.mild_consequence_extra_active is defined and variables.mild_consequence_extra_active == 1 %}
                    checked="checked"{% endif %}
                        class="form-control"
                        id="mild_consequence_extra_active"
                        name="mild_consequence_extra_active"
                        placeholder=""
                        type="checkbox">

            </div>
            <div class="col-md">
                <input type="text"
                       class="form-control m-0 pl-2" id="mild_consequence_extra"
                       placeholder="..."
                       value="{{ variables.mild_consequence_extra }}"
                       name="mild_consequence_extra"
                >
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4 font-weight-bold">
                Moderate Consequence
            </div>
            <div class="col-md">
                <input type="text"
                       class="form-control m-0 pl-2" id="moderate_consequence"
                       placeholder="..."
                       value="{{ variables.moderate_consequence }}"
                       name="moderate_consequence"
                >
            </div>
        </div>
        <div class="row pt-2 pb-2">
            <div class="col-md-4 font-weight-bold">
                Severe Consequence
            </div>
            <div class="col-md">
                <input type="text"
                       class="form-control m-0 pl-2" id="severe_consequence"
                       placeholder="..."
                       value="{{ variables.severe_consequence }}"
                       name="severe_consequence"
                >
            </div>
        </div>
    </div>
</div>
</div>